.employeeContainer {
  border: 2px solid rosybrown;
  border-radius: 5px;
  margin: 20px;
  padding-bottom: 40px;
}

.employee__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px;
}

.employee__heading {
  color: rosybrown;
  text-transform: uppercase;
  font-weight: bolder;
}

.employee__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
.employee {
  background-color: rosybrown;
  border: 1px solid rosybrown;  
  border-radius: 5px;  
  color: whitesmoke;
  margin: 1em;
  padding: 1em;
  text-align: center;
  width: 250px;
}
  
.employeeForm__button:hover {
  border: 2px solid rosybrown;
  box-shadow: inset 0 0 0 3px whitesmoke;
}

.employeeForm__link {
  cursor: pointer;
}