@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Raleway:wght@500&display=swap');

/* body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: 'Raleway', sans-serif;
	font-size: 14px;
	line-height: 1.5;
} */

/* p {
  margin-bottom: 1.5em;
  color: #d6fcff;
  color: darkslateblue;
} */

.pageHeader {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.tagline {
  display: flex;
  flex-wrap: nowrap;
  font-family: 'Marck Script', cursive;
  justify-content: center;
}