.locationContainer {
  border: 2px solid burlywood;
  border-radius: 5px;
  margin: 20px;
  padding-bottom: 40px;
}

.location__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px;
}

.location__heading {
  color: burlywood;
  text-transform: uppercase;
  font-weight: bolder;
}

.location__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
.location {
  background-color: burlywood;
  border: 1px solid burlywood;
  border-radius: 5px;  
  color: whitesmoke;
  margin: 1em;
  padding: 1em;
  text-align: center;
  width: 250px;
}